USE [215635608_musicStore]
GO
/****** Object:  StoredProcedure [dbo].[CreateUser]    Script Date: 25/11/2025 17:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ayala 🐥
-- Create date: 18/11/2025 📅
-- Description:	homework 🏠
-- =============================================
ALTER PROCEDURE [dbo].[CreateUser] 
	-- Add the parameters for the stored procedure here
	@Name VARCHAR(50),
	@Username VARCHAR(50),
	@Password VARCHAR(15),
	@Id INT OUTPUT

AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO Users
	(	
		Name,
		Username,
		Password
	)
	VALUES
	(
		@Name,
		@Username,
		@Password
	)
	SET @Id = @@IDENTITY
END
