USE [215635608_musicStore]
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 25/11/2025 16:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ayala 🐥
-- Create date: 18/11/2025 📅
-- Description:	homework 🏠

--exec UpdateUser 
-- =============================================
ALTER PROCEDURE [dbo].[UpdateUser]

	@Id INT,
	@Password VARCHAR(15)
	
AS
BEGIN
	SET NOCOUNT ON;

	UPDATE Users
	SET Password = @Password
	WHERE Id = @Id

END
